/* colors 
Orange: #ffc108;
Gray: #424242;
*/

/* Imports*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');

/* Overall */
* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
}

/* Header */

nav {
    box-sizing: border-box;
    height: 12rem;
    width: 1200px;
    margin: 0 auto;
}

nav ul {
    text-decoration: none;
    list-style-type: none;
    float: right;
    line-height: 12rem;
}

nav ul li {
    display: inline-block;
    margin-right: 5rem;
}

nav img {
    display: inline-block;
    width: 180px;
    margin-left: 5rem;
    margin-top: 2rem;
}


/* link behavior in nav */

nav li a {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    color: #424242;
    text-decoration: none;
}

nav li a:visited {
    color: #424242;
}

nav li a:focus {
    color: lightblue;
    outline: none;
}

nav li a:hover {
    border-bottom: 2px solid #ffc108;
}

nav li a:active {
    color: lightblue;
}

/* Header */

.banner img {
    width: 100%;
    padding-bottom: 5em;
}

/* rows */

.container {
    margin: 0 auto;
    width: 1500px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    
}

/* Panels */

.box {
    background-color: #424242;
    width: 40em;
    height: 40em;
    box-shadow: rgba(66, 66, 66, 0.726) 5px 5px 10px;
    margin-bottom: 4em;
    box-sizing: border-box;
    position: relative;
}

.boxButtons {
    width: 40em;
    height: 3em;
    background-color: #424242;
    position: absolute;
    bottom: -7%;
    box-shadow: rgba(66, 66, 66, 0.726) 5px 5px 10px;
}

.boxButtons img {
    width: 25px;
    margin-left: 2em;    
}

.commentButton {
    float: right;
    margin-right: 2em;
    justify-content: flex-end;
    
}

.box h1 {
    color: #ffc108;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .1em;
    padding-left: .3em;
}

.box p {
    color: white;
    padding-left: .3em;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}



/* Footer */

Footer {
    background-color: #424242;
    height: 2.5em;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    text-align: center;
    line-height: 2.5em;
}

Footer a {
    color: #ffc108;
    text-decoration: none;
}

Footer a:visited {
    color: #ffc108;
}

Footer a:focus {
    color: lightblue;
    outline: none;
}

Footer a:hover {
    border-bottom: 1px solid #ffc108;
}

Footer a:active {
    color: lightblue;
}


/* Media Query */
@media screen and (max-width: 1499px) {
    .container {
        width: 100%;
    }

        nav {
            width: 80%;
            margin: 0 auto;
            overflow: hidden;
        }

    .box {
        width: 40em;
            height: 40em;
    }
}